@import "variables";

@mixin flexible {
  display: flex;
}

@mixin font__header {
  font-family: $font-family-title;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 10px;
}

.header__hamburger {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  transition: 400ms;
}


.header__inner {
  @include flexible;
  @include font__header;
  height: $header-height;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  transition: 150ms;
}

.header {

}

.header__logo {
  font-size: 25px;

  &:hover {
    cursor: default;
  }
}

.header__links {
  font-size: 17px;
}


.header__link {
  margin: 0 20px;
  transition: 100ms;

  &:hover {
    color: #7f7fc4;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .header.active{
    transition: color 0s;
    background: rgba(250,251,255,0.96);
  }

  .header__inner {
    flex-direction: column;
  }

  .header__inner.active {
    height: 150px;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header__logo {
    width: 100%;
    padding: 10px;
  }

  .header__hamburger {
    display: block;
    margin: 5px;
  }

  .header__links{
    display: flex;
    transition: 0.1s;
    opacity: 1;
    flex-direction: column;
    overflow: hidden;
  }

  .header__links.active {
    flex-direction: column;
  }

  .header__link {
    text-align: center;
    margin: 10px 0;
  }
}
