@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Nunito+Sans&display=swap');

$container-width: 1170px;
$header-height: 60px;
$banner-height: 100vh;
$font-family-title: 'Montserrat', sans-serif;
$font-family-text: 'Nunito Sans', sans-serif;
$font-color-text: rgb(109, 109, 109);