@import "../variables";

.schedule__header{
  font-family: $font-family-title;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: end;
  color: $font-color-text;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card__schedule {
  height: calc(100vh - 200px);
  background: white;
  border-radius: 15px;
  padding: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card__schedule::-webkit-scrollbar {
  display: none;
}
