@import "../variables";

.settings__header{
  font-family: $font-family-title;
  font-weight: 500;
  font-size: 30px;
  margin-right: 20px;
  text-align: end;
  color: $font-color-text;
}

.settings__content{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings__card{
  width: 100%;
  margin: 15px;
  padding: 15px;
  background: white;
  border-radius: 15px;
}